* {
  box-sizing: border-box;
}

body {
  font-family: Rostelecom Basis;
  font-weight: 400;
  background-color: #1D2533;
  color: #E8E9EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__search-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;

}

.header__search-overlay.overlay.active {
  opacity: .6;
  visibility: visible;
  z-index: 101;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-slide-shadow-coverflow {
  background-image: none !important;
}

.swiper-slide-active .hero-slide-plus {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #70F;
  left: 125px;
  top: 45%;
  background-image: url('/img/plus-big.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}

.swiper-slide-active .hero-slide-plus::after {
  content: '';
  position: absolute;
  width: 45px;
  border-radius: 50%;
  height: 45px;
  border: 2px solid #70F;
  left: -5px;
  top: -5px;
}

@media (max-width: 1460px) {
  .swiper-slide-active .hero-slide-plus {
    left: 105px;
  }
}

@media (max-width: 990px) {
  .swiper-slide-active .hero-slide-plus {
    left: 75px;
  }
}

@media (max-width: 760px) {
  .swiper-slide-active .hero-slide-plus {
    top: 6%;
    left: 195px;
  }
}

.swiper-slide-active .slide-popup {
  opacity: 1;
  visibility: visible;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Rostelecom-Basis-Bold.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Rostelecom-Basis-Medium.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Rostelecom-Basis-Regular.woff') format("woff");
}