* {
  box-sizing: border-box;
}

body {
  font-family: Rostelecom Basis;
  font-weight: 400;
  background-color: #1D2533;
  color: #E8E9EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1535px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__search-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;

}

.header__search-overlay.overlay.active {
  opacity: .6;
  visibility: visible;
  z-index: 101;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Rostelecom-Basis-Bold.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Rostelecom-Basis-Medium.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: Rostelecom Basis;
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Rostelecom-Basis-Regular.woff') format("woff");
}