.ad {
  width: 100px;
  display: flex;
  align-items: center;
  position: absolute;
  top: -80px;
  right: 15px;
  padding: 2px 8px;
  padding-right: 27px;
  height: 28px;
  width: 120px;
  line-height: 24px;
  width: 100px;
  color: #A5A8AD;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(16, 24, 40, 0.40);

  .img {
    margin-left: 10px;
  }

  @media (max-width: 760px) {
    top: -20px;
  }
}